<!DOCTYPE html>
<html>
<head>
  <title>Calendar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="fleft">
	<%= link_to "Welcome Page", root_path %>
</div>
<div class="main-container">
<div id="content">

	<%= yield %>

</div>
</div>
</body>
</html>
